/* Ignore => Base Styles */
body { height: 100%; background: transparent; -webkit-font-smoothing: antialiased; }
.ScrollSceneIndicators { z-index: 9999999 !important; }

/* Ignore => Useless Header Styles */
header {
  text-align: center;
  font-size: 100px;
  background: rgb(0, 0, 255);
  padding: 100px 0 125px;
  color: none;
  height: 100vh;
  position: relative;

}
header * { text-shadow: 0px 1px 1px rgba(150, 150, 150, 0.35); }
header h1 { margin-top: 0; font-size: 50px;  }

header h1 i.heart { color: rgb(221, 75, 80); }
header h1 i.fa-magic { color: rgb(39, 97, 223); } 
header hr { max-width: 80px; border-top: solid 2px #fff; }
header h2 { margin-bottom: 30px; }
header p { margin-bottom: 0px; }
header i.fa-angle-double-down {
  font-size: 50px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #111;
}
header i.fa-angle-double-down:after {
  content: 'Start Scrolling Down';
  position: absolute;
  bottom: 100%;
  left: -35px;
  font-size: 15px;
  width: 104px;
}

/* Create huge scrolling area (imitates height of a page) */
main { padding: 200px 0 1200px 0; overflow: hidden; background: none; }

/* Styles for wrap for demo */
.wrap {
  text-align: center;
  background: none;
  padding: 20px 0;
/*  -moz-box-shadow: 0 0 6px rgba(153, 153, 153, 0.25);
  -webkit-box-shadow: 0 0 6px rgba(153, 153, 153, 0.25);*/
  /*box-shadow: 0 0 6px rgba(153, 153, 153, 0.25);*/
  position: relative;
  margin-bottom: 50px;
  overflow: hidden;
  width: 100vh;
}

/* Default Animation Styles */
.animation {
  background: transparent;
  width: 200px;
  height: 100px;
  border-radius: 100%;
  margin: 20px auto;
  position: relative;
}
.animation i {
  color: transparent;
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 30px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}



/* SCENE COLORS */
body {
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
}
body.scene-1-active { background: rgb(204, 255, 204) !important; }
body.scene-2-active { background: rgb(0, 205, 150) !important; }
body.scene-3-active { background: rgb(2, 0, 60) !important; }